<nav id="mobile-menu-placeholder" class="mobile-menu hidden flex-col items-center space-y-8 lg:hidden">
      <ul class="w-full">
          <li><a href="index.html" class="hover:text-secondary font-bold block py-2">Home</a></li>
          <li><a href="productos.html" class="hover:text-secondary font-bold block py-2">Productos</a></li>
          <li><a href="especialistas.html" class="hover:text-secondary font-bold block py-2">Especialistas</a></li>
      </ul>
      <div class="flex flex-col mt-6 space-y-2 items-center">
          <a href="register.html"
              class="bg-primary hover:bg-transparent text-white hover:text-primary border border-primary font-semibold px-4 py-2 rounded-full flex items-center justify-center min-w-[110px]">Registrarse</a>
          <a href="register.html"
              class="bg-primary hover:bg-transparent text-white hover:text-primary border border-primary font-semibold px-4 py-2 rounded-full flex items-center justify-center min-w-[110px]">Iniciar sesión</a>
          <a href="register.html"
              class="bg-primary hover:bg-transparent text-white hover:text-primary border border-primary font-semibold px-4 py-2 rounded-full flex items-center justify-center min-w-[110px]">Carrito -&nbsp;<span>5</span>&nbsp;items</a>
      </div>
    </nav>